body {
    margin: 0 20px 0 20px;
}
.typewriter {
    display: inline-flex;
    margin-left: 210px;
}
/* DEMO-SPECIFIC STYLES */
  .typewriter h2 {
    color: black;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4.5s steps(30, end),
      blink-caret .8s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    10% { border-color: black }
  }

#top {
    margin-top:0;
    overflow:hidden;
    background:#e0ebe8;
    padding-bottom: 250px;
    margin-top: 70px;
   }
@media (min-width:992px) {

    #top {
     padding-top:130px
    }

}
header {
    height: 100%;
    width: 100%;
}
hr {
    height: 3px;
    background: #333A40;
}
body {
    /* background-color: #636363; */
}
.panel > .panel-heading {
    /* background-color: #4c5f6e; */
}
.panel-body {
    padding: 50px;
    /* background-color:   #426987; */
}
.panel {
    border: 0;
}
.center_item {
    margin-bottom: 200px;
}
h1 {
    color: black;
    font-size: 450%;
}
h2 {
    color: #ff3333;
}
footer {
    color: white;
    /* background-color: #333A40; */
}